.btn-group {
  @include flexbox(center, center);

  &--md {
    @include list-group-horizontal('.btn-group__item', 16px);
  }

  &--lg {
    @include list-group-horizontal('.btn-group__item', 24px);
  }
}

.btn {
  font-size: $font-size-sm;
  line-height: 1.143;
  font-weight: 600;
  padding: 9px 12px;
  border-radius: 8px;
  transition: border 250ms, background-color 200ms;
  text-align: center;

  > span {
    pointer-events: none;
  }

  &.is-rounded {
    border-radius: 50%;
  }

  &__icon {
    vertical-align: bottom;
  }

  &--default {
    background-color: $color-gray-100;
    color: $color-gray-900;
    border: 1px solid $color-gray-500;

    &:hover {
      background-color: $color-gray-200;
    }

    &:active {
      background-color: $color-gray-300;
    }
  }

  &--red {
    color: $color-gray-100;
    border: 1px solid $color-red-500;
    background-color: $color-red-500;

    &:hover {
      background-color: $color-red-600;
      border-color: $color-red-600;
    }

    &:active {
      background-color: $color-red-700;
      border-color: $color-red-700;
    }
  }

  &--md {
    width: 168px;
  }

  &--sns {
    color: $color-gray-100;
    position: relative;

    svg {
      @include y-centered();
      left: 16px;
    }
  }

  @each $color-name in map-keys($color-sns) {
    $color-value: map-get($color-sns, $color-name);

    &--#{$color-name} {
      background-color: $color-value;
      border: 1px solid $color-value;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-gray-400;
    border-color: $color-gray-400;
    color: $color-gray-700;
  }
}

.btn-bookmark {
  @include background-img();
  @include background-svg('<svg fill="#333333" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="icon-left"><path d="M20 12.09V5.46A4.22 4.22 0 0 0 16.07 1H7.91A4.22 4.22 0 0 0 4 5.46V20.6A1.33 1.33 0 0 0 5.25 22a1.14 1.14 0 0 0 .75-.32l3.46-3.39 1.79-1.75.05-.05a1 1 0 0 1 .67-.3 1.05 1.05 0 0 1 .77.37l1.33 1.34L18 21.68a1.18 1.18 0 0 0 .78.32A1.32 1.32 0 0 0 20 20.6v-8.51zm-1.23 8.72a.27.27 0 0 1-.12 0L12.78 15a1 1 0 0 0-.76-.37 1 1 0 0 0-.68.3l-.05.05-5.92 5.79a.21.21 0 0 1-.11 0 .26.26 0 0 1-.26-.19V5.46a3.14 3.14 0 0 1 2.91-3.32h8.16A3.14 3.14 0 0 1 19 5.46v15.18a.23.23 0 0 1-.24.17z"/></svg>');
  width: 24px;
  height: 24px;
  min-width: 24px;
  transition: background-image .3s;
  background-color: $color-gray-100;

  &.is-saved {
    @include background-svg('<svg fill="#f4364c" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M20 12.09V5.46A4.22 4.22 0 0 0 16.07 1H7.91A4.22 4.22 0 0 0 4 5.46V20.6A1.33 1.33 0 0 0 5.25 22a1.14 1.14 0 0 0 .75-.32l3.46-3.39 1.79-1.75.05-.05a1 1 0 0 1 .67-.3 1.05 1.05 0 0 1 .77.37l1.33 1.34L18 21.68a1.18 1.18 0 0 0 .78.32A1.32 1.32 0 0 0 20 20.6v-8.51z"/></svg>');
  }
}

.btn-follow {
  min-width: 100px;

  &:before {
    @include background-img();
    @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8.33 3.44a3.925 3.925 0 0 1 3.92 3.743 3.883 3.883 0 0 1-3.658 3.834c4.016.116 7.241 2.975 7.241 6.483v.833h-15V17.5c0-3.508 3.225-6.367 7.242-6.483a3.883 3.883 0 0 1-3.667-3.834A3.925 3.925 0 0 1 8.33 3.44zM15.416.832c.23 0 .416.187.416.417v2.083h2.084a.417.417 0 0 1 0 .834h-2.084V6.25l-.006.075A.417.417 0 0 1 15 6.25V4.167h-2.083a.417.417 0 1 1 0-.834H15V1.25l.007-.075a.417.417 0 0 1 .41-.342z"/></svg>');
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    margin-right: 9px;
  }

  &.is-following {
    min-width: 120px;

    &:before {
      @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#333"><path fill-rule="evenodd" d="M8.33 3.44a3.925 3.925 0 0 1 3.92 3.743 3.883 3.883 0 0 1-3.658 3.834c4.016.116 7.241 2.975 7.241 6.483v.833h-15V17.5c0-3.508 3.225-6.367 7.242-6.483a3.883 3.883 0 0 1-3.667-3.834A3.925 3.925 0 0 1 8.33 3.44zm9.587-.938c.11 0 .215.045.291.123a.4.4 0 0 1 0 .592L14.683 6.75l-.065.052a.417.417 0 0 1-.518-.052l-1.775-1.775-.054-.062a.4.4 0 0 1 .054-.521.417.417 0 0 1 .592 0l1.475 1.441 3.233-3.208.063-.052a.408.408 0 0 1 .229-.07z"/></svg>');
    }
  }
}

.btn-like {
  @include background-img();
  @include background-svg('<svg fill="#f4364c" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.413 5.178c-1.035-1.082-2.456-1.678-4-1.678a5.154 5.154 0 0 0-3.143 1.045c-.47.35-.895.778-1.27 1.278a6.3 6.3 0 0 0-1.27-1.278A5.154 5.154 0 0 0 7.586 3.5c-1.544 0-2.965.596-4 1.678C2.563 6.247 2 7.708 2 9.29c0 1.63.63 3.121 1.984 4.694 1.21 1.408 2.95 2.836 4.965 4.49.688.565 1.468 1.206 2.278 1.888.214.18.488.28.773.28.285 0 .56-.1.773-.28.81-.682 1.59-1.323 2.278-1.888 2.015-1.654 3.755-3.082 4.966-4.49C21.37 12.412 22 10.92 22 9.291c0-1.583-.564-3.044-1.587-4.113z" fill-rule="evenodd"/></svg>');
  background-size: 20px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  transition: background-image .3s;
  background-color: $color-gray-100;
  border: solid 1px $color-gray-400;

  &.is-active {
    @include background-svg('<svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.413 5.178c-1.035-1.082-2.456-1.678-4-1.678a5.154 5.154 0 0 0-3.143 1.045c-.47.35-.895.778-1.27 1.278a6.3 6.3 0 0 0-1.27-1.278A5.154 5.154 0 0 0 7.586 3.5c-1.544 0-2.965.596-4 1.678C2.563 6.247 2 7.708 2 9.29c0 1.63.63 3.121 1.984 4.694 1.21 1.408 2.95 2.836 4.965 4.49.688.565 1.468 1.206 2.278 1.888.214.18.488.28.773.28.285 0 .56-.1.773-.28.81-.682 1.59-1.323 2.278-1.888 2.015-1.654 3.755-3.082 4.966-4.49C21.37 12.412 22 10.92 22 9.291c0-1.583-.564-3.044-1.587-4.113z" fill-rule="evenodd"/></svg>');
    background-color: $color-red-500;
    border: solid 1px $color-red-500;
  }
}

// Handle class btn writers page
.follow-writers .btn-follow {
  width: 100%;
}
