.pagination {
  @include flexbox(center, center);
  flex-wrap: wrap;
  margin: 32px auto 0;
  padding: 0;
  font-size: 0;
  font-weight: 600;
  text-align: center;
  background-color: $color-gray-100;

  li {
    list-style: none;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.143;
    margin: 2px 4px;

    span a,
    .current {
      padding: 12px;
      border-radius: 8px;
      transition: background-color .2s;
    }

    span a:hover {
      background-color: $color-red-300;
    }

    a,
    span {
      display: block;
      text-align: center;
    }

    a {
      color: $color-gray-900;
    }

    .page.current {
      color: $color-red-500;
      background-color: $color-red-300;
    }

    &.next a,
    &.prev a {
      padding: 11px 12px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba($color-black, 0.1);
      border: 1px solid $color-gray-400;
      transition: border .25s;

      &:hover {
        border-color: $color-gray-700;
      }

      &:active {
        border-color: $color-gray-800;
      }
    }

    &.next {
      margin-left: 12px;
    }

    &.prev {
      margin-right: 12px;
    }
  }
}
