.error-page {
  @include flexbox(center, center);
  background: url('/images/new/img-404.png') right center / cover no-repeat;
  min-height: calc(100vh - 58px);
  text-align: left;

  @include respond-from(md) {
    min-height: calc(100vh - 251px);
    text-align: center;
  }

  h1,
  h3 {
    color: $color-gray-100;
  }

  h1 {
    font-size: 72px;
  }
}
