.section-headline {
  margin-bottom: 24px
}

[class*='section']:first-child {
  > [class^='container'] {
    padding-top: 32px;
  }
}

.section {
  &--lg {
    > [class^='container'] {
      padding-bottom: 40px;

      @include respond-from(md) {
        padding-bottom: 80px;
      }
    }
  }

  &--md {
    > [class^='container'] {
      padding-bottom: 32px;

      @include respond-from(md) {
        padding-bottom: 40px;
      }
    }
  }

  &--gray {
    background-color: $color-gray-300;
  }

  &--balanced {
    > [class^='container'] {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px;

      @include respond-from(md) {
        margin-bottom: 80px;
      }
    }
  }

  &--advertise {
    @include respond-from(md) {
      display: none;
    }

    + [class^='section'] {
      margin-top: 32px;
    }
  }

  &--sidebar-advertise {
    display: none;

    @include respond-from(lg) {
      display: block;
    }
  }

  &--sm {
    > [class^='container'] {
      padding-bottom: 32px;
    }
  }

  &--divider {
    height: 1px;
    background-color: $color-gray-400;
    margin-bottom: 16px;
  }
}
